In [1]:
import os
import pandas as pd
import numpy as np
from collections import OrderedDict

In [2]:
PATH = '../data'
train_err = pd.read_csv(os.path.join(PATH, 'train_err_data.csv'))
train_problem = pd.read_csv(os.path.join(PATH, 'train_problem_data.csv'))

In [3]:
test_err = pd.read_csv(os.path.join(PATH, 'test_err_data.csv'))

# errtype e를 가진 사람 중 불만이 있는 사람 세기

In [4]:
%%time
# train_err array
te = train_err[['user_id', 'time', 'errtype']].values

# train_problem array
tp = train_problem.values
tp = tp[tp[:, 0].argsort()]
# tp = tp[tp[:, 1].argsort()]  # sort by time

dic = {}

for i in range(len(te)):
    row = te[i]
    user_id, time, errtype = row[0], row[1], row[2]

    # time_lower_bound = np.searchsorted(tp[:, 1], time)
    # time_upper_bound = np.searchsorted(tp[:, 1], time, side='right')
    # selected = time_lower_bound + np.searchsorted(tp[time_lower_bound:time_upper_bound, 0], user_id)
    selected = np.searchsorted(tp[:, 0], user_id)

    if errtype not in dic:
        dic[errtype] = {'problems': 0, 'total': 0}

    if selected < len(tp) and tp[selected, 0] == user_id:
        dic[errtype]['problems'] += 1
    dic[errtype]['total'] += 1

CPU times: user 1min 2s, sys: 1.75 s, total: 1min 4s
Wall time: 1min 1s

In [5]:
for errtype in dic:
    dic[errtype]['ratio'] = dic[errtype]['problems'] / dic[errtype]['total']

dic = OrderedDict(sorted(dic.items(), key=lambda kv: kv[1]['ratio'], reverse=True))
pd.DataFrame(dic).T

     problems      total     ratio
25     1060.0     1184.0  0.895270
18     2339.0     2671.0  0.875702
20     1809.0     2080.0  0.869712
19      554.0      664.0  0.834337
21      506.0      607.0  0.833608
34   122748.0   165536.0  0.741518
10    96989.0   133403.0  0.727038
35     7406.0    10187.0  0.727005
13    16363.0    22843.0  0.716324
30      281.0      402.0  0.699005
7     30025.0    51993.0  0.577482
6     28187.0    50482.0  0.558357
39     8819.0    15820.0  0.557459
23  1250243.0  2276515.0  0.549192
27   294144.0   540804.0  0.543901
28   294513.0   544306.0  0.541080
38     2349.0     4539.0  0.517515
22   964736.0  1865361.0  0.517185
14   125541.0   252015.0  0.498149
9        54.0      109.0  0.495413
32   538238.0  1130564.0  0.476079
41    48787.0   104138.0  0.468484
17    21257.0    46009.0  0.462018
3     13940.0    30758.0  0.453215
24    17646.0    39071.0  0.451639
40   327526.0   730378.0  0.448434
5    423956.0   952920.0  0.444902
31   868235.0  1985294.0  0.437333
12   132926.0   320181.0  0.415159
37     3874.0     9336.0  0.414953
36     3860.0     9317.0  0.414296
11   126391.0   307030.0  0.411657
16   513531.0  1249376.0  0.411030
15   640140.0  1604951.0  0.398853
33    69366.0   178477.0  0.388655
26   202030.0   536401.0  0.376640
2      9310.0    26106.0  0.356623
42    11905.0    34374.0  0.346337
4    363153.0  1296750.0  0.280049
1      4016.0    21545.0  0.186401
8        28.0      166.0  0.168675

# errcode c를 가진 사람 중 불만이 있는 사람 세기

In [6]:
%%time
# train_err array
te = train_err[['user_id', 'time', 'errcode']].values

# train_problem array
tp = train_problem.values
tp = tp[tp[:, 0].argsort()]
# tp = tp[tp[:, 1].argsort()]

dic = {}

for i in range(len(te)):
    row = te[i]
    user_id, time, errcode = row[0], row[1], row[2]

    # time_lower_bound = np.searchsorted(tp[:, 1], time)
    # time_upper_bound = np.searchsorted(tp[:, 1], time, side='right')
    # selected = time_lower_bound + np.searchsorted(tp[time_lower_bound:time_upper_bound, 0], user_id)
    selected = np.searchsorted(tp[:, 0], user_id)

    if errcode not in dic:
        dic[errcode] = {'problems': 0, 'total': 0}

    if selected < len(tp) and tp[selected, 0] == user_id:
        dic[errcode]['problems'] += 1
    dic[errcode]['total'] += 1

CPU times: user 54.2 s, sys: 1.48 s, total: 55.7 s
Wall time: 54.6 s

In [7]:
for errcode in dic:
    dic[errcode]['ratio'] = dic[errcode]['problems'] / dic[errcode]['total']

dic = OrderedDict(sorted(dic.items(), key=lambda kv: kv[1]['ratio'], reverse=True))
code_df = pd.DataFrame(dic).T

sum(code_df['ratio'] > 0.0)

1868

In [8]:
sorted_code_df = code_df[code_df['total'] >= 1000].sort_values('ratio', ascending=False)
sorted_code_df.index

Index(['5', '6', 'V-21008', 'terminate by peer user', 'H-51042', '4',
       'connection fail to establish', '82', '13', '14', '83', '99', '3', '88',
       'connection timeout', '100', 'connectionterminated by local host', '91',
       'UNKNOWN', '95', '87', '94', '78', '89', '90', '81', '86', 'active',
       '85', '84', '2', 'NFANDROID2', 'S-61001', '1', '80', '79', 'B-A8002',
       'standby', '8.0', '0', 'S-65002', 'Q-64002'],
      dtype='object')

In [9]:
sorted_code_df

                                     problems      total     ratio
5                                      6524.0     7335.0  0.889434
6                                      6571.0     7392.0  0.888934
V-21008                                1458.0     1740.0  0.837931
terminate by peer user                 1990.0     2523.0  0.788744
H-51042                                 674.0     1045.0  0.644976
4                                     12094.0    20249.0  0.597264
connection fail to establish          59263.0   100940.0  0.587111
82                                      589.0     1009.0  0.583746
13                                     7016.0    12040.0  0.582724
14                                   150728.0   263577.0  0.571856
83                                     1182.0     2087.0  0.566363
99                                     1337.0     2364.0  0.565567
3                                     51345.0    91223.0  0.562851
88                                      655.0     1168.0  0.560788
connection timeout                  1025237.0  1835600.0  0.558530
100                                    1447.0     2602.0  0.556111
connectionterminated by local host     2153.0     4011.0  0.536774
91                                      536.0     1001.0  0.535465
UNKNOWN                                2084.0     3914.0  0.532448
95                                    12473.0    23452.0  0.531852
87                                      679.0     1279.0  0.530884
94                                    11737.0    22118.0  0.530654
78                                     2644.0     5028.0  0.525855
89                                    33789.0    64799.0  0.521443
90                                    34399.0    65992.0  0.521260
81                                     2233.0     4339.0  0.514635
86                                     2045.0     4023.0  0.508327
active                               111323.0   219238.0  0.507772
85                                    64549.0   127744.0  0.505300
84                                    65521.0   129876.0  0.504489
2                                     80781.0   166382.0  0.485515
NFANDROID2                            48787.0   104138.0  0.468484
S-61001                               15933.0    34631.0  0.460079
1                                   4075428.0  8906967.0  0.457555
80                                   150201.0   334018.0  0.449679
79                                   149407.0   332422.0  0.449450
B-A8002                              401056.0   897863.0  0.446678
standby                               48323.0   110370.0  0.437827
8.0                                    3860.0     9317.0  0.414296
0                                    929364.0  2599123.0  0.357568
S-65002                                 463.0     1583.0  0.292483
Q-64002                                2917.0    11959.0  0.243917

In [10]:
f'# of errcodes: {len(code_df)}'

'# of errcodes: 2806'

# model_nm 개수 세기

In [11]:
train_err['model_nm'].unique()

array(['model_3', 'model_2', 'model_0', 'model_1', 'model_7', 'model_4',
       'model_5', 'model_8', 'model_6'], dtype=object)

In [12]:
test_err['model_nm'].unique()

array(['model_1', 'model_2', 'model_3', 'model_0', 'model_4', 'model_5',
       'model_6', 'model_7', 'model_8'], dtype=object)

# fwver 개수 세기

In [13]:
fwvers = train_err['fwver'].unique()
display(fwvers)
len(fwvers)

array(['05.15.2138', '04.33.1185', '04.33.1261', '04.22.1750',
       '04.22.1778', '04.16.3553', '04.33.1149', '04.16.3571',
       '05.66.3237', '05.66.3571', '03.11.1149', '04.22.1684',
       '03.11.1167', '04.82.1684', '04.82.1778', '04.33.1171',
       '04.73.2237', '10', '04.82.1730', '04.73.2571', '8.5.3',
       '04.22.1666', '03.11.1141', '05.15.2120', '04.33.1125',
       '04.16.3439', '04.22.1442', '04.33.1095', '04.16.3569',
       '05.15.2090', '05.15.3104', '05.15.2122', '04.22.1656',
       '04.16.2641', '05.15.2114', '04.16.3345', '05.15.2092'],
      dtype=object)

37

In [14]:
fwvers = test_err['fwver'].unique()
display(fwvers)
len(fwvers)

array(['04.16.3553', '04.16.3571', '04.33.1261', '05.15.2138',
       '04.22.1750', '04.22.1778', '04.33.1149', '03.11.1167',
       '04.33.1185', '04.22.1684', '05.15.2120', '04.82.1684',
       '04.82.1778', '10', '05.66.3237', '04.73.2569', '04.73.2571',
       '04.73.2237', '04.73.2577', '04.82.1730', '04.22.1478', '8.5.3',
       '04.22.1666', '04.22.1656', '03.11.1149', '04.33.1171',
       '05.66.3571', '04.16.3439', '05.15.2092', '03.11.1141',
       '04.22.1608', '05.15.3104', '04.33.1125', '04.22.1448',
       '05.15.2114', '10.22.1770', '10.22.1780', '04.16.3569',
       '04.22.1772', '04.22.1170'], dtype=object)

40

# finding min and max of time

In [15]:
print(train_err['time'].min(), train_err['time'].max())
print(test_err['time'].min(), test_err['time'].max())

20201031235959 20201202185152
20201031235959 20201214120118

In [16]:
from datetime import datetime

def to_datetime(time):
    year = time // 10000000000
    month = time // 100000000 % 100
    day = time // 1000000 % 100
    hour = time // 10000 % 100
    minute = time // 100 % 100
    second = time % 100
    return datetime(year, month, day, hour, minute, second)

In [17]:
diff = to_datetime(train_err['time'].max()) - to_datetime(train_err['time'].min())
diff.total_seconds()

2746313.0