In [2]:
import pandas as pd
import numpy as np
from collections import OrderedDict

In [3]:
PATH = '../data'
train_err = pd.read_csv(os.path.join(PATH, 'train_err_data.csv'))
train_problem = pd.read_csv(os.path.join(PATH, 'train_problem_data.csv'))

errtype e를 가진 사람 중 불만이 있는 사람 세기

In [4]:
%%time
# train_err array
te = train_err[['user_id', 'time', 'errtype']].values

# train_problem array
tp = train_problem.values
tp = tp[tp[:, 0].argsort()]
# tp = tp[tp[:, 1].argsort()]  # sort by time

dic = {}

for i in range(len(te)):
    row = te[i]
    user_id, time, errtype = row[0], row[1], row[2]

    # time_lower_bound = np.searchsorted(tp[:, 1], time)
    # time_upper_bound = np.searchsorted(tp[:, 1], time, side='right')
    # selected = time_lower_bound + np.searchsorted(tp[time_lower_bound:time_upper_bound, 0], user_id)
    selected = np.searchsorted(tp[:, 0], user_id)

    if errtype not in dic:
        dic[errtype] = {'problems': 0, 'total': 0}

    if selected < len(tp) and tp[selected, 0] == user_id:
        dic[errtype]['problems'] += 1
    dic[errtype]['total'] += 1

CPU times: user 58.2 s, sys: 70.5 ms, total: 58.3 s
Wall time: 58.3 s

In [5]:
for errtype in dic:
    dic[errtype]['ratio'] = dic[errtype]['problems'] / dic[errtype]['total']

dic = OrderedDict(sorted(dic.items(), key=lambda kv: kv[1]['ratio'], reverse=True))
pd.DataFrame(dic).T

     problems      total     ratio
25     1060.0     1184.0  0.895270
18     2339.0     2671.0  0.875702
20     1809.0     2080.0  0.869712
19      554.0      664.0  0.834337
21      506.0      607.0  0.833608
34   122748.0   165536.0  0.741518
10    96989.0   133403.0  0.727038
35     7406.0    10187.0  0.727005
13    16363.0    22843.0  0.716324
30      281.0      402.0  0.699005
7     30025.0    51993.0  0.577482
6     28187.0    50482.0  0.558357
39     8819.0    15820.0  0.557459
23  1250243.0  2276515.0  0.549192
27   294144.0   540804.0  0.543901
28   294513.0   544306.0  0.541080
38     2349.0     4539.0  0.517515
22   964736.0  1865361.0  0.517185
14   125541.0   252015.0  0.498149
9        54.0      109.0  0.495413
32   538238.0  1130564.0  0.476079
41    48787.0   104138.0  0.468484
17    21257.0    46009.0  0.462018
3     13940.0    30758.0  0.453215
24    17646.0    39071.0  0.451639
40   327526.0   730378.0  0.448434
5    423956.0   952920.0  0.444902
31   868235.0  1985294.0  0.437333
12   132926.0   320181.0  0.415159
37     3874.0     9336.0  0.414953
36     3860.0     9317.0  0.414296
11   126391.0   307030.0  0.411657
16   513531.0  1249376.0  0.411030
15   640140.0  1604951.0  0.398853
33    69366.0   178477.0  0.388655
26   202030.0   536401.0  0.376640
2      9310.0    26106.0  0.356623
42    11905.0    34374.0  0.346337
4    363153.0  1296750.0  0.280049
1      4016.0    21545.0  0.186401
8        28.0      166.0  0.168675

errcode c를 가진 사람 중 불만이 있는 사람 세기

In [6]:
%%time
# train_err array
te = train_err[['user_id', 'time', 'errcode']].values

# train_problem array
tp = train_problem.values
tp = tp[tp[:, 0].argsort()]
# tp = tp[tp[:, 1].argsort()]

dic = {}

for i in range(len(te)):
    row = te[i]
    user_id, time, errcode = row[0], row[1], row[2]

    # time_lower_bound = np.searchsorted(tp[:, 1], time)
    # time_upper_bound = np.searchsorted(tp[:, 1], time, side='right')
    # selected = time_lower_bound + np.searchsorted(tp[time_lower_bound:time_upper_bound, 0], user_id)
    selected = np.searchsorted(tp[:, 0], user_id)

    if errcode not in dic:
        dic[errcode] = {'problems': 0, 'total': 0}

    if selected < len(tp) and tp[selected, 0] == user_id:
        dic[errcode]['problems'] += 1
    dic[errcode]['total'] += 1

CPU times: user 49.8 s, sys: 900 ms, total: 50.7 s
Wall time: 50.7 s

In [10]:
for errcode in dic:
    dic[errcode]['ratio'] = dic[errcode]['problems'] / dic[errcode]['total']

dic = OrderedDict(sorted(dic.items(), key=lambda kv: kv[1]['ratio'], reverse=True))
display(pd.DataFrame(dic).T.iloc[:26])
display(pd.DataFrame(dic).T.iloc[-50:])

        problems  total  ratio
6467         1.0    1.0    1.0
4893         1.0    1.0    1.0
39391        1.0    1.0    1.0
3113         2.0    2.0    1.0
3758         1.0    1.0    1.0
5007         1.0    1.0    1.0
4714         1.0    1.0    1.0
4358         1.0    1.0    1.0
5752         2.0    2.0    1.0
108133       1.0    1.0    1.0
6502         1.0    1.0    1.0
4049         1.0    1.0    1.0
7433         1.0    1.0    1.0
7396         1.0    1.0    1.0
6093         2.0    2.0    1.0
5113         2.0    2.0    1.0
3975         1.0    1.0    1.0
4231         2.0    2.0    1.0
6175         1.0    1.0    1.0
6679         1.0    1.0    1.0
9232         1.0    1.0    1.0
5372         1.0    1.0    1.0
5168         1.0    1.0    1.0
4922         2.0    2.0    1.0
6714         1.0    1.0    1.0
8391         1.0    1.0    1.0

         problems  total  ratio
3097          0.0    1.0    0.0
5444          0.0    1.0    0.0
5958          0.0    1.0    0.0
98606         0.0    1.0    0.0
3236          0.0    1.0    0.0
3327          0.0    2.0    0.0
4530          0.0    1.0    0.0
5692          0.0    1.0    0.0
230685        0.0    1.0    0.0
3387          0.0    1.0    0.0
3399          0.0    1.0    0.0
82415         0.0    1.0    0.0
46857         0.0    1.0    0.0
8760          0.0    1.0    0.0
P_41001       0.0    1.0    0.0
P-41001       0.0    1.0    0.0
5647          0.0    1.0    0.0
4470          0.0    1.0    0.0
21417         0.0    1.0    0.0
3829          0.0    1.0    0.0
1858238       0.0    1.0    0.0
3274          0.0    1.0    0.0
25990         0.0    1.0    0.0
4396          0.0    1.0    0.0
65            0.0    3.0    0.0
67            0.0    1.0    0.0
66            0.0    1.0    0.0
10715         0.0    1.0    0.0
3239          0.0    1.0    0.0
3720          0.0    1.0    0.0
14708         0.0    1.0    0.0
10743         0.0    1.0    0.0
38316         0.0    1.0    0.0
103924        0.0    1.0    0.0
23938         0.0    1.0    0.0
38906         0.0    1.0    0.0
7138          0.0    1.0    0.0
5419          0.0    1.0    0.0
5542          0.0    1.0    0.0
6011          0.0    1.0    0.0
3682          0.0    1.0    0.0
5769          0.0    1.0    0.0
3747          0.0    1.0    0.0
9551          0.0    1.0    0.0
5204          0.0    1.0    0.0
6826          0.0    1.0    0.0
6102          0.0    1.0    0.0
4526          0.0    1.0    0.0
3965          0.0    1.0    0.0
25999         0.0    1.0    0.0

In [1]:
code_df = pd.DataFrame(dic).T
sum(code_df['ratio'] > 0.0)

NameError: name 'pd' is not defined